body {
    font-family: Arial, sans-serif;
    background: rgba(20, 20, 20, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.container {
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    pointer-events: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    height: 100%;
    max-width: 90vw;
    max-height: 75vh;
}

.container.active {
    display: grid;
    opacity: 1;
}

.widget {
    background: rgba(40, 40, 40, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    height: 30vh;

}

.widget .widget-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.widget.widget-2 {
    grid-column: span 2;
}

.widget.widget-full {
    grid-column: span 3;
    height: 90%;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}

.events-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.event-item {
    background: rgba(60, 60, 60, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.event-icon {
    font-size: 24px;
    margin-right: 10px;
}

.event-details {
    flex-grow: 1;
}

.event-time {
    font-weight: bold;
    color: #f1c40f;
}

.indicators {
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.indicator {
    width: 10px;
    height: 10px;
    background: #666;
    border-radius: 50%;
    transition: background 0.3s;
    margin: 0 5px;
}

.indicator.active {
    background: white;
}

.hour {
    transition: opacity 0.8s ease-in-out;
    opacity: 0;
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 20px;
    background: rgba(40, 40, 40, 0.8);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-size: 24px;
}

.hour.active {
    display: block;
    opacity: 1;
}

.switch-btn {
    border-radius: 15px;
    border: none;
    padding: 10px;
    background: #666;
    width: 100%;
    height: 100%;
    max-height: 125px;
    pointer-events: auto !important;
    position: relative !important;
    transition: background 0.3s;
    z-index: 9999 !important;
}

.switch-btn.active {
    background: #f1c40f;
}

#status {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 20px;
    background: rgba(40, 40, 40, 0.8);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

#nav-prev {
    position: fixed;
    top: 50%;
    left: 10px;
    background: rgba(40, 40, 40, 0.8);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

#nav-next {
    position: fixed;
    top: 50%;
    right: 10px;
    background: rgba(40, 40, 40, 0.8);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

#photo {
    max-height: 400px;
    object-fit: contain;
    border-radius: 15px;
    transition: opacity 1s ease-in-out;
}

#photo.fade-out {
    opacity: 0;
}

canvas {
    max-height: 175px;
}